body {
  font-size: 1.2rem;
  max-width: 37em;
  margin: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

a {
  text-decoration: none;
}

pre {
  font-size: .8rem;
}
