/*
@font-face {
  font-family: 'CooperHewitt';
  font-style: normal;
  font-weight: normal;
  src: url('CooperHewitt-Book.woff') format('woff');
}

@font-face {
  font-family: 'CooperHewitt';
  font-style: italic;
  font-weight: normal;
  src: url('CooperHewitt-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'CooperHewitt';
  font-style: normal;
  font-weight: bold;
  src: url('CooperHewitt-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CooperHewitt';
  font-style: italic;
  font-weight: bold;
  src: url('CooperHewitt-BoldItalic.woff') format('woff');
}
*/

@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: normal;
  src: url('charter_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: normal;
  src: url('charter_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: bold;
  src: url('charter_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: bold;
  src: url('charter_bold_italic-webfont.woff') format('woff');
}

body {
  font-size: 22px;
  max-width: 33em;
  padding-left: .5em;
  padding-right: .5em;
  font-family: 'Charter', sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

footer {
  margin-top: 2em;
}

h1, h2, h3 {
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  line-height: 1;
  font-weight: normal;
}

footer p {
  color: #777;
  font-size: .8em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1.2em;
}

a {
  text-decoration: none;
  color: #07A;
}

a:visited {
  color: #83B; 
}

pre {
  font-size: .65em;
  background-color: #FFFAFA;
  border: solid 1px #CCCACA;
  padding: .5em;
}
