body {
  font-size: 1.2rem;
  max-width: 35em;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.45;
}

h1, h2, h3 {
  margin-top: .7em;
  margin-bottom: .2em;
}

footer p {
  color: #777;
  font-size: .8em;
}

p {
  margin-top: .3em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1.2em;
}

a {
  text-decoration: none;
}

pre {
  font-size: .8rem;
}
